{{- $src := .Get "src" -}}
{{- $height := .Get "height" | default "900" -}}
{{- $title := .Get "title" | default "Embedded Content" -}}
{{- $filePath := path.Join .Page.File.Dir $src -}}

{{- if (fileExists $filePath) -}}
  {{- $content := readFile $filePath -}}
  {{- $targetPath := printf "embedded/%s/%s" .Page.File.TranslationBaseName $src -}}
  {{- $res := resources.FromString $targetPath $content -}}
  <iframe
    src="{{ $res.RelPermalink }}"
    title="{{ $title }}"
    width="100%"
    height="{{ $height }}"
    loading="lazy"
    style="border:0; border-radius:12px; background:transparent;"
  ></iframe>

  <p>Se il riquadro non si carica, apri lo strumento in una pagina dedicata: <a href="{{ $res.RelPermalink }}">Apri {{ $title }}</a>.</p>
{{- else -}}
  <p>Risorsa non trovata: {{ $filePath }}</p>
{{- end -}}